body{padding:0;margin:0;font:13px Arial,Helvetica,Garuda,sans-serif;*font-size:small;*font:x-small;}
h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code{padding:0;margin:0;line-height:1em;font-size:100%;font-weight:normal;font-style: normal;}
table{font-size:inherit;font:100%;}
ul{list-style:none;}
img{border:0;}
p{margin:1em 0;}


body{
	background-color: #fffcf6;
}
#container{
	max-width: 1260px;
	background-color: #fffcf6;
	margin: auto; 
	/*outline: 1px red solid;*/
}
#login{
	width: 100%;
	height: 25px;
	margin-bottom: 20px;
	/*outline: 1px green solid;*/
	/*background-color: #ffa71c;*/
	/*c27e12*/	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffa71c), to(#d38913));
}
#navigation{
	height: 80px;
	width: 1260px;
	/*outline: 1px red solid;*/
	background-image: url(img/navbg.png);
}
#logo {
	width: 200px;
	height: 150px;
	background-color: gray;
	margin: 0 auto 30px auto;
}
#logo a{
	display: block;
	width: 200px;
	height: 150px;
	font-size: 0;
	background-color: gray;
	margin: 0 auto 30px auto;
}
#navigation ul{
	max-width: 1260px;
	/*outline: 1px green solid;*/
	display: table;
	height: 42px;
	margin: 0 auto;

}

.nav {
	line-height: 40px;
	/*background-color: #fffcf6;*/
	text-align: center;
	float: left;
	font-size: 16px;
	height: 40px;
	width: 150px;
	border: 1px #888 solid;
	border-top: 1px #888 solid;
	border-right: 0px;
	border-bottom: 0px;
}

.nav:last-child{
	border: 1px #888 solid;
	border-top: 1px #666666 solid;
	border-bottom: 0px
}

.nav a{
	color:#444444;
	text-decoration: none;
	height: 40px;
	width: 150px;
	display: block;
}
.nav a:hover{
	color:#ffa71c;
	background-color: #444444;
	text-decoration: none;
}


#title{
	/*outline: 1px green solid;*/
	width: 160px;
	text-align: center;
	font-size: 20px;
	color:#444444;
	margin: 30px auto;

}
#main{
	width: 960px;
	/*outline: 1px red solid;*/
	margin: 30px auto;
}
.shell{
	/*outline: 1px green solid;*/
	width: 480px;
	text-align: center;
	float: left;
	height: 470px;
	margin-bottom: 30px;
}

.shell a{
	margin-top:15px;
	text-decoration: none;
	color: #E0A500;

}
.shell a:hover{
	text-decoration: underline;
}
.pageContent{
	margin-top: 15px;
}
h1{font-size: 22px;	color: #444444;}
h2{font-size: 20px;color: #444444;}
h3{margin: 15px 0 15px 0;font-size: 18px;color: #E0A500;}
p{margin-top: 15px;font-size: 12px;color: #444444; }

#login ul{
	width: 960px;
	margin: 0 auto;
}
.login{
	line-height: 25px;
	display: inline-block;
	text-align: center;
	margin: 0 5px 0 5px;	
	float: right;
	color: #444;
	font-size: 12px;
	font-weight: 400;

}
.login a{
	/*height: 15px;*/
	display: inline-block;
	text-decoration: none;
	color: #444;

}
.login a:hover{
	text-decoration: underline;
}

#footer{
	/*outline: 1px red solid;*/
	clear:both;
	line-height: 25px;
	margin: 0 auto 0 auto;
	width: 100%;
	text-align: center;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffa71c), to(#d38913));*/
	height: 25px;
	color: #444;
}

.form {
	width: 200px;
	height: 20px;
	/*outline: 1px green solid;*/
	margin: 0 0 15px 0;
	float: left;
/*	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;*/
	border-radius: 5px;
	/*box-shadow: 0px 0px 1px #444*/
	/*border: 1px red solid;*/
	text-indent: 3px;

}
#main>form>label{
	width: 150px;
	color: #444;
	text-align: left;
	display: block;
	height: 26px;
	line-height: 26px;
	font-size: 15px;
	/*outline: 1px red solid;*/
	float: left;
	clear: both;
}
.error{
	display: block;
	margin-left: 15px;
	/*outline: 1px blue solid;*/
	width: 250px;
	height: 26px;
	line-height: 26px;
	color: red;
	font-size: 12px;
	font-weight: 600;
	float: left;
}
#submit{
	/*outline: 1px blue solid;*/

	width: 200px;
	margin-left: 150px;	
	margin-bottom: 50px;
	margin-top: 15px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffa71c), to(#d38913));
	float: left;
	border: none;
	height: 25px;
	color: white;
	font-size: 17px;
	letter-spacing: 1px;
	cursor: pointer;
	clear: both;
}
form{	
	/*outline: 1px red solid;*/
	width: 640px;
	margin: auto;

}
#shellhome {
	position: relative;
	width: 850px;
	height: 498px;
	text-align: center;
	margin: auto;
	/*outline: 1px red solid;*/
	background: url("img/Home.jpg");
}
#homecontent p{
	width: 850px;
		font-size: 17px;
	color: #444;
	text-align: center;
	margin: auto;

}
